#gbdScreen {
background-color: rgb(246,248,250);
position: relative;
border-radius : 25px;
box-shadow: 5px 5px 5px 5px; 
border-top : 0;
width : 100%;
height : 550px;
left:0;

}

.gbdContent {
position: relative;
width : 100%;
height: 80%;
top:10%;
}

#gbdNavBar {
overflow: hidden;
background-color : #24292e;
}

#gbdNavBar a {
float: left;
font-size: 16px;
color: white;
text-align: center;
padding : 14px 16px;
text-decoration: none;
}

.subNav {
float : left;
overflow: hidden;
}

.subNav .subNavBtn {
font-size: 16px;
border: none;
outline: none;
color: white;
padding: 14px 16px;
background-color : inherit;
font-family: inherit;
margin: 0;
}

.gbdNavBar a:hover , .subNav:hover .subNavBtn {
background-color: red;
}

.subNavContent {
display: none;
position: absolute;
left: 0;
background-color : red;
width: 100%;
z-index: 1;
}

.subNav:hover .subNavContent {
display: block;
}

.subNavContent a {
float : left;
color: white;
text-decoration: none;
}

.reponav-item.gbdselected {
color:#24292e;
background-color:#fff;
border-color:
rgba(0,51,102,0.7) #e1e4e8 transparent;
}


.flexContainer
{
    position: relative;
    width: 60%;
    height: 100%;
    left : 40%;
}


.chartjs-render-monitor {
    position: absolute;
    border: 1px solid black;
    box-shadow: 5px 5px 5px 5px;
    border-radius : 10px;
}


#commitsDashboard {
    top: -8px;
    right: 5px;
    width: 50% !important;
    height: 50% !important;
}

#issuesDashboard {
    top: -8px;
    left: -5px;
    width: 50% !important;
    height: 50% !important;
}

#prsDashboard {
    bottom: 0;
    right: 5px;          
    width: 50% !important;
    height: 50% !important;
}


#branchesDashboard {
    bottom: 0;
    left: -5px;  
    width: 50% !important;
    height: 50% !important;
}

.metricsPageTitle {
    margin-left: 27.5%;
    width: 45%;
    text-align: center;
    box-shadow: 5px 5px 5px 5px black;
    border-radius: 25px;
}

#metricContainer {
    display:flex;
    padding-top: 15px;
    height: 90%;
}



#progressContainer {
    padding: 4px;
    position: relative;
    right: -2%;
    box-shadow: 5px 0 20px 5px black;
    border-radius: 25px 0px 25px 25px;
    border: 4px solid black;
    width: 68%;
    height: 103%;
}

#repoRanking{
    overflow: scroll;
    padding: 1%;
    border-radius: 25px;
    box-shadow: 5px 0 20px 5px black;
    border: 3px solid black;
    width: 30%;
    height: 103%;
}

.commitsRanking {
    background-color: rosybrown;
    padding: 1%;
    margin:1%;
    display: flex;
    border: 1px solid black;
    
}

.commitsRanking i{
    color: blue;
}

#memberDisplay{
    font-size: 115%;
    font-weight: bolder;
}

#img {
    border: 1px solid black;
    padding: 5px 15px 5px 15px;
    border-radius: 50%;
}



input[type=number]::-webkit-outer-spin-button, 
input[type=number]::-webkit-inner-spin-button {
-webkit-appearance: inner-spin-button !important;
}

#configPage {
    position: relative;
    display: none;
    width: 30%;
    height: 30%;
    top:0;
    right:-70%;
    box-shadow: 2px 2px 2px 2px black;
    border-radius: 5%;

} 

#btnOpenConfigPage {
    background-image:url("https://img.icons8.com/ios/40/000000/hourglass.png") ;
    text-decoration: none;
    position: relative;
    width: 40px;
    height: 40px;
    top:0;
    right: -94.9%;
    box-shadow: 3px 3px 3px 3px black;
    border-radius: 5%;

}

