
/*
    Always you want to override the default bootstrap behavior, use !important
*/

#gbdScreen {
background-color: lightgray;
position: relative;
border-radius : 25px;
box-shadow: #24292e;
border-top : 0;
width : 100%;
height : 100%;
left:0;
overflow: hidden;
}

.popover
{
    min-width: 400px !important;
    min-height: 200px !important;
}

.gbdContent {
position: relative;
width : 100%;
height: 90%;
top:5%;
}

.ranking
{
    margin-left: 2%;
}

.mainscreen
{
    max-width: inherit;
    max-height: inherit;
}


.reponav-item.gbdselected {
color:#24292e;
background-color:#fff;
border-color:
rgba(0,51,102,0.7) #e1e4e8 transparent;
}


.flexContainer
{
    position: relative;
    width: 60%;
    height: 100%;
    left : 40%;
}

.col {
    margin-left: 2%;
    margin-right: 2%;
}

.row {
    margin-top: 2%;
    margin-bottom: 2%;
}

.table{
    margin-top: 2%;
    margin-bottom: 2%;
}

.card {
    width: 95%;
    margin-left: 2%;
    margin-right: 2%;
}

.chartjs-render-monitor {
    display: block;
    overflow: hidden;
    position: relative;
}


#commitsDashboard {
    width: 100% !important;
    height: 100% !important;
}

#issuesDashboard {
    width: 100% !important;
    height: 100% !important;
}

#prsDashboard {        
    width: 100% !important;
    height: 100% !important;
}


#branchesDashboard {
    width: 100% !important;
    height: 100% !important;
}

.metricsPageTitle {
    margin-left: 27.5%;
    width: 45%;
    text-align: center;
    box-shadow: 5px 5px 5px 5px black;
    border-radius: 25px;
}

#metricContainer {
    position: relative;
    display:flex;
    overflow: scroll;
    padding-top: 15px;
    height: 90%;
}



#progressContainer {
    padding: 4px;
    position: relative;
    right: -2%;
    box-shadow: 5px 0 20px 5px black;
    border-radius: 25px 0px 25px 25px;
    border: 4px solid black;
    width: 68%;
    height: 103%;
}

#repoRanking{
    padding: 1%;
    border-radius: 1%;
    box-shadow: 5px 0 20px 5px black;
    border: 3px solid black;
} 


input[type=number]::-webkit-outer-spin-button, 
input[type=number]::-webkit-inner-spin-button {
-webkit-appearance: inner-spin-button !important;
}


.table-responsive{
    max-height: 1000px !important;
    overflow: auto !important;
}

#repoRanking{
    max-height: 1000px !important;
    overflow: auto !important;
}

#gbdProgressBar{
    background-color: black;
}



.container {
    margin-left: 0;
}


#legends{
    text-align: center;
    padding-top: 10%;
}

#legends div{
    margin: 0 auto;
    padding-top: 2%;
    width: 70%;
    height: 10%;
    text-align: center;
}

#good{
    background-color: green;
    
}

#ok{
    background-color: blue;
    
}

#bad{
    background-color: red;
    
}


/*profilePage.js*/

#profilePageSideBar{
    display: block;
    background-color: rgb(52, 58, 64);
}

.profileImage{
    padding:10% 10% 10% 10%;
    display: flex !important;
    text-align: center;
}
.profileImage div{
    font-size: large;
    padding-top: 15%;
    border: none;
}

#GbdProfileAvatar{
    width: 50%;
    border-radius: 50%;
}

#profileCol-9 div{
    margin: 0;
}

#profileCol-9 div > span {
    display: inherit;
}

#profileCol-9 div > span > div {
    width: 50%;
}



.gbd-div-table-percent-content{
    width: 50%;
    font-size: initial;
}


/*------*/